.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-name {
    font-weight: bold;
}

.product-quantity {
    color: #555;
}