.home-container01 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
  
.home-hero-heading {
    max-width: 800px;
    text-align: center;
}
  
.home-hero-sub-heading {
    font-size: 18px;
    text-align: center;
}
  
.home-btn-group {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
}