.home-features1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }

.home-container02 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

.home-features-heading {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

.home-features-sub-heading {
    font-size: 18px;
    text-align: center;
  }

.home-container03 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
